<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded"> My name is Adyah Widiarni. I come from Tapung, Kampar. 
                Now I am a student at UIN Sultan Syarif Kasim Riau,
                Faculty of Science and Technology, Department of Information Systems.</p>
                <a href="#" class="btn btn-default btn-xl">Back Home</a>
            </div>
        </div>
    </div>
</section>
