<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Media Sosial Me</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-picture-o" aria-hidden="true" style="fontsize:80px;"</i>
                    <h3>Instagram</h3>
                    <p class="text-muted"> Follow ya <b>adyahwidiarni_12</b></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay="></i>
                    <h3>Telegram</h3>
                    <p class="text-muted">Nomor telegram : 082285094752</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay="></i>
                    <h3>Noted</h3>
                    <p class="text-muted"> Harus Selalu Bersyukur</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay="></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">i love family, jangan lupa bersyukur ya</p>
                </div>
            </div>
        </div>
    </div>
</section>
